pres_files/libs/clipboard/clipboard.min.js
pres_files/libs/quarto-html/light-border.css
pres_files/libs/quarto-html/popper.min.js
pres_files/libs/quarto-html/quarto-html.min.css
pres_files/libs/quarto-html/quarto-syntax-highlighting-dark.css
pres_files/libs/quarto-html/quarto-syntax-highlighting.css
pres_files/libs/quarto-html/tabby.min.js
pres_files/libs/quarto-html/tippy.css
pres_files/libs/quarto-html/tippy.umd.min.js
pres_files/libs/revealjs/dist/reset.css
pres_files/libs/revealjs/dist/reveal.css
pres_files/libs/revealjs/dist/reveal.esm.js
pres_files/libs/revealjs/dist/reveal.esm.js.map
pres_files/libs/revealjs/dist/reveal.js
pres_files/libs/revealjs/dist/reveal.js.map
pres_files/libs/revealjs/dist/theme/quarto.css
pres_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.css
pres_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.eot
pres_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.ttf
pres_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.woff
pres_files/libs/revealjs/dist/theme/fonts/league-gothic/LICENSE
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/LICENSE
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.eot
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.ttf
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.woff
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.eot
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.ttf
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.woff
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.eot
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.ttf
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.woff
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.eot
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.ttf
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.woff
pres_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro.css
pres_files/libs/revealjs/plugin/highlight/highlight.esm.js
pres_files/libs/revealjs/plugin/highlight/highlight.js
pres_files/libs/revealjs/plugin/highlight/monokai.css
pres_files/libs/revealjs/plugin/highlight/plugin.js
pres_files/libs/revealjs/plugin/highlight/zenburn.css
pres_files/libs/revealjs/plugin/markdown/markdown.esm.js
pres_files/libs/revealjs/plugin/markdown/markdown.js
pres_files/libs/revealjs/plugin/markdown/plugin.js
pres_files/libs/revealjs/plugin/math/katex.js
pres_files/libs/revealjs/plugin/math/math.esm.js
pres_files/libs/revealjs/plugin/math/math.js
pres_files/libs/revealjs/plugin/math/mathjax2.js
pres_files/libs/revealjs/plugin/math/mathjax3.js
pres_files/libs/revealjs/plugin/math/plugin.js
pres_files/libs/revealjs/plugin/notes/notes.esm.js
pres_files/libs/revealjs/plugin/notes/notes.js
pres_files/libs/revealjs/plugin/notes/plugin.js
pres_files/libs/revealjs/plugin/notes/speaker-view.html
pres_files/libs/revealjs/plugin/pdf-export/pdfexport.js
pres_files/libs/revealjs/plugin/pdf-export/plugin.yml
pres_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
pres_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
pres_files/libs/revealjs/plugin/quarto-line-highlight/plugin.yml
pres_files/libs/revealjs/plugin/quarto-support/footer.css
pres_files/libs/revealjs/plugin/quarto-support/plugin.yml
pres_files/libs/revealjs/plugin/quarto-support/support.js
pres_files/libs/revealjs/plugin/reveal-menu/menu.css
pres_files/libs/revealjs/plugin/reveal-menu/menu.js
pres_files/libs/revealjs/plugin/reveal-menu/plugin.yml
pres_files/libs/revealjs/plugin/reveal-menu/quarto-menu.css
pres_files/libs/revealjs/plugin/reveal-menu/quarto-menu.js
pres_files/libs/revealjs/plugin/search/plugin.js
pres_files/libs/revealjs/plugin/search/search.esm.js
pres_files/libs/revealjs/plugin/search/search.js
pres_files/libs/revealjs/plugin/zoom/plugin.js
pres_files/libs/revealjs/plugin/zoom/zoom.esm.js
pres_files/libs/revealjs/plugin/zoom/zoom.js
